/* General setup */

@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-family: 'Asap', sans-serif;
    line-height: 20px;
}

h2 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}

a {
    text-align: center;
    color: #10BBF9;
    text-decoration: underline;
    margin-top: 1cm;
    padding-top: 5px;
}

p {
    word-spacing: 8px;
    color: rgb(58, 58, 58);
    text-indent: 20px;
}

a:hover {
    color: olivedrab;
    text-decoration: none;
}

li {
    list-style: circle;
    margin-bottom: 0.5cm;
}


/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav li {
    border-radius: 5px;
    text-align: center;
    height: 1cm;
    margin-right: 1cm;
    border-style: none;
    background-color: floralwhite;
    list-style: none;
    margin-bottom: 0.5cm;
}

nav li:hover {
    background-color: rgb(228, 242, 248);
    color: olivedrab;
}

nav {
    list-style: norgb(110, 110, 110);
    margin-top: 2cm;
    float: left;
    width: 20%;
    background-color: #c8f0ff;
    box-shadow: 17px 14px 25px -2px rgba(173, 173, 173, 1);
}

footer {
    clear: both;
}

header,
section,
aside,
nav,
footer {
    padding: 20px;
}


/* header and footer */

header,
footer {
    border-top: 5px solid #10BBF9;
    border-bottom: 5px solid #10BBF9;
}


/* WRITE YOUR CODE BELOW HERE */